<section class="h-100 h-custom" style="background: linear-gradient(to right, #776b5f, #9c8f7f, #ad9b82, #c2af97, #e0c9a6);">

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" style="background-color: #eee; border: 2px solid #53342A;">
            
            <div class="card-body p-4">
  
              <div class="row">
  
                <!-- Ovo ostaje -->
<div class="col-lg-7">
  <h5 class="mb-3"><a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
  <hr>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <p class="mb-1">Shopping cart</p>
      <p class="mb-0" id="cartItemCount">Loading...</p>
    </div>
  </div>

  <!-- OVDJE će JS ubacivati kartice identične dizajnu -->
  <div id="cartItems"></div>
</div>


                <div class="col-lg-5 d-flex flex-column">
                  <div class="card bg-primary text-white rounded-3 h-100  align-self-stretch">
                
                    <div class="card-body d-flex flex-column justify-content-center " style="background-color: #4F625A; height: 100%;">

                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">Card details</h5>
                      </div>
  
                      
  
                      <form class="mt-4">
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" id="typeExp" class="form-control form-control-lg" style="background-color: #efe4d4;"
                                placeholder="Name" size="7" id="exp" minlength="7" maxlength="7"  />
                              <label class="form-label text-white" for="typeExp">Name</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" id="typeText" class="form-control form-control-lg" style="background-color: #efe4d4;"
                                placeholder="Surname" size="1" minlength="3" maxlength="3"  />
                              <label class="form-label text-white" for="typeText">Surname</label>
                            </div>
                          </div>
                        </div>
                        <div data-mdb-input-init class="form-outline form-white mb-4" >
                          <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                            placeholder="Address" style="background-color: #efe4d4;"/>
                          <label class="form-label text-white" for="typeName">Address</label>
                        </div>

                        <div class="row mb-4">
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" id="typeExp" class="form-control form-control-lg" style="background-color: #efe4d4;"
                                placeholder="City" size="7" id="exp" minlength="7" maxlength="7"  />
                              <label class="form-label text-white" for="typeExp">City</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="password" id="typeText" class="form-control form-control-lg" style="background-color: #efe4d4;"
                                placeholder="Country" size="1" minlength="3" maxlength="3"  />
                              <label class="form-label text-white" for="typeText">Country</label>
                            </div>
                          </div>
                        </div>
  
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                            placeholder="Phone Number" minlength="19" maxlength="19" style="background-color: #efe4d4;" />
                          <label class="form-label text-white" for="typeText">Phone Number</label>
                        </div>
  
                        
  
                      </form>
  
                      <hr class="my-4">
  
                      <!-- <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">$4798.00</p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Shipping</p>
                        <p class="mb-2">$20.00</p>
                      </div> -->
  
                      <div class="d-flex justify-content-between mb-4" >
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2" id="cart-total-value">$72.00</p>
                      </div>
  
                      <div class="d-flex justify-content-center">
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-white-custom" style="background-color: #efe4d4; border: 1px solid 53342a;">
                            <div class="d-flex justify-content-between">
                                <span> Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </div>
                        </button>
                    </div>
                    
  
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  </div>

<script>

</script>

