<section class="h-100 h-custom" style="background: linear-gradient(to right, #776b5f, #9c8f7f, #ad9b82, #c2af97, #e0c9a6);">

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" style="background-color: #eee; border: 2px solid #53342A;">
            
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="#!" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">You have 4 items in your cart</p>
                    </div>

                  </div>
  
                  <div class="card mb-3">
                    <div class="card-body" style="background-color: #beaf9e;">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="frontend/assets/images/chamomile.webp"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 100px; height: 75px;">
                          </div>
                          <div class="ms-3">
                            <h5>Chamomile Tea</h5>
                            <p class="small mb-0">256GB, Navy Blue</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">2</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$19</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card mb-3">
                    <div class="card-body" style="background-color: #beaf9e;">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                            src="frontend/assets/images/green.webp"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 100px; height: 75px;">
                          </div>
                          <div class="ms-3">
                            <h5>Green Tea </h5>
                            <p class="small mb-0">256GB, Navy Blue</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">2</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$17</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card mb-3">
                    <div class="card-body" style="background-color: #beaf9e;">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                            src="frontend/assets/images/earl_grey_tea.jpg"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 100px; height: 75px;">
                          </div>
                          <div class="ms-3">
                            <h5>Earl Grey Tea</h5>
                            <p class="small mb-0">Onyx Black</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">1</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$18</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card mb-3 mb-lg-0">
                    <div class="card-body" style="background-color: #beaf9e;">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img src="frontend/assets/images/cherry_blossom_tea.jpg" alt="Test Image" class="img-fluid rounded-3" style="width: 100px; height: 75px;">

                          </div>
                          <div class="ms-3">
                            <h5>Cherry Blossom Tea</h5>
                            <p class="small mb-0">1TB, Graphite</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 50px;">
                            <h5 class="fw-normal mb-0">1</h5>
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">$18</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-lg-5 d-flex flex-column">
                  <div class="card bg-primary text-white rounded-3 h-100  align-self-stretch">
                
                    <div class="card-body d-flex flex-column justify-content-center " style="background-color: #4F625A; height: 100%;">

                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">Card details</h5>
                      </div>
  
                      
  
                      <form class="mt-4">
                        <div data-mdb-input-init class="form-outline form-white mb-4" >
                          <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                            placeholder="Cardholder's Name" style="background-color: #efe4d4;"/>
                          <label class="form-label text-white" for="typeName">Cardholder's Name</label>
                        </div>
  
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                            placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" style="background-color: #efe4d4;" />
                          <label class="form-label text-white" for="typeText">Card Number</label>
                        </div>
  
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" id="typeExp" class="form-control form-control-lg" style="background-color: #efe4d4;"
                                placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7"  />
                              <label class="form-label text-white" for="typeExp">Expiration</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="password" id="typeText" class="form-control form-control-lg" style="background-color: #efe4d4;"
                                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3"  />
                              <label class="form-label text-white" for="typeText">Cvv</label>
                            </div>
                          </div>
                        </div>
  
                      </form>
  
                      <hr class="my-4">
  
                      <!-- <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2">$4798.00</p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Shipping</p>
                        <p class="mb-2">$20.00</p>
                      </div> -->
  
                      <div class="d-flex justify-content-between mb-4" >
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2">$72.00</p>
                      </div>
  
                      <div class="d-flex justify-content-center">
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-white-custom" data-bs-toggle="modal" data-bs-target="#purchase_modal" style="background-color: #efe4d4; border: 1px solid 53342a;">
                            <div class="d-flex justify-content-between">
                                <span>$4818.00</span>
                                <span> Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </div>
                        </button>
                    </div>
                    
  
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="purchase_modal" aria-labelledby="purchase_modal_label">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="purchase_modal_label">Purchase Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="purchase_form">
            <div class="row">
              <!-- Name input -->
              <div class="mb-3 col-6">
                <label class="form-label" for="name">Name</label>
                <input name="name" type="text" class="form-control form-control-md" id="name" required />
              </div>
  
              <!-- Surname input -->
              <div class="mb-3 col-6">
                <label class="form-label" for="surname">Surname</label>
                <input name="surname" type="text" class="form-control form-control-md" id="surname" required />
              </div>
            </div>
  
            <!-- Address input -->
            <div class="mb-3">
              <label class="form-label" for="address">Address</label>
              <input name="address" id="address" class="form-control form-control-md" required />
            </div>
  
            <div class="row">
              <!-- City input -->
              <div class="mb-3 col-6">
                <label class="form-label" for="city">City</label>
                <input name="city" id="city" class="form-control form-control-md" required />
              </div>
  
              <!-- Country input -->
              <div class="mb-3 col-6">
                <label class="form-label" for="country">Country</label>
                <input name="country" id="country" class="form-control form-control-md" required />
              </div>
            </div>
  
            <!-- Phone Number input -->
            <div class="mb-3">
              <label class="form-label" for="phone_number">Phone Number</label>
              <input name="phone_number" type="tel" id="phone_number" class="form-control form-control-md" required />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" style="outline-color: #4F1F14;">Cancel</button> 
            <button type="submit" class="btn" style="background-color: #53342A; color: #FFFFFF;">Buy</button>
        </div>
       </form>
      </div>
    </div>
  </div>